/*header files*/
.header {
  color: black;
  background-color: white;
  text-align: center;
  padding: 10px 10px;
  
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/*CHOICE MENU*/
.title-text{
    font-size: 20px;
    text-align: center;
}
.choicemenu{
    height: auto;
    background: #DCDCDC;
    text-align: center;
    padding-top:5px;
    padding-right:50px;
    padding-bottom:10px;
    padding-left:50px;
}


#choice:hover{
    transition: transform 2s ease,color 2s ease;
    transform:translateY(-5px);
   
    cursor: pointer;
}
@media screen and (max-width: 600px) {
.choicemenu{
    height: auto;
    background: #DCDCDC;
    text-align: center;
    padding-top:5px;
    padding-right:10px;
    padding-bottom:10px;
    padding-left:10px;
}

.responsive {
  width: 100%;
  max-width: 100px;
  height: 100%;
  height: 100px;
}
}
/*topnav bar */
.topnav {
  overflow: hidden;
  background-color: white;
}

.topnav a {
  float: right;
  display: inline-block;
  color: black;
  text-align: center;
  padding: 20px 20px 20px 20px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: orange;
  color: black;
}

.topnav a.active {
  background-color: darkorange;
  color: black;
}

.topnav .icon {
  display: none;
}

	
/*Sidebar*/
.sidebar{
  width:200px; 
  height:100%;
}
@media screen and (max-width: 992px) {  
.sidebar{
  width:150px; 
}
}
/*main menu*/
* {
  box-sizing: border-box;
}
.main{
  
  background-color:lightgrey;
}
/* Float four columns side by side */
.column {
  float: left;
  width: 25%;
  margin-top:20px;
  padding: 0 10px;
}
/* Remove extra left and right margins, due to padding */
.row {
  margin:20px 200px 20px 200px;
  background-color:lightgrey;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: white;
}

@media screen and (max-width: 992px) {
.main{
  background-color:lightgrey;
 }
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
 .row {
 	margin:20px 20px 20px 20px;
	background-color:lightgrey;
    }
}


