/*header files*/
.header {
  color: black;
  background-color: white;
  text-align: center;
  padding: 10px 10px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/*CHOICE MENU*/
.title-text{
    font-size: 20px;
    text-align: center;
}
.choicemenu{
    height: auto;
    background: #DCDCDC;
    text-align: center;
    padding-top:5px;
    padding-right:50px;
    padding-bottom:10px;
    padding-left:50px;
}


#choice:hover{
    transition: transform 2s ease,color 2s ease;
    transform:translateY(-5px);
   
    cursor: pointer;
}
@media screen and (max-width: 600px) {
.choicemenu{
    height: auto;
    background: #DCDCDC;
    text-align: center;
    padding-top:5px;
    padding-right:10px;
    padding-bottom:10px;
    padding-left:10px;
}

.responsive {
  width: 100%;
  max-width: 100px;
  height: 100%;
  height: 100px;
}
}
/*topnav bar */
.topnav {
  overflow: hidden;
  background-color: white;
}

.topnav a {
  float: right;
  display: inline-block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: orange;
  color: black;
}

.topnav a.active {
  background-color: darkorange;
  color: black;
}

.topnav .icon {
  display: none;
}


/*main menu*/
.body{
background-color:grey;
}
.main{
padding-left:220px;
background-color:grey;
}
@media screen and (max-width: 992px) {
.main{
padding-left:16px;
}}


